* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

nav {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(86, 178, 214, 0.477);
    backdrop-filter: blur(); */
    /* From https://css.glass */
    background: rgba(134, 147, 163, 0.105);
    box-shadow: 0 4px 30px rgba(129, 129, 129, 0.379);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 0px 0px 5px 5px;
    
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 1%;
    gap: 15px;
}

a {
  text-decoration: none;
  position: relative;
  transition: all 0.5s;
  color: #000;
}

a:hover {
  color: black;
  text-shadow: 0 0 10px #1372e6, 0 0 20px #1372e6, 0 0 30px #1372e6, 0 0 40px #1372e6;
}
main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}


.checkout {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 35%;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    height: 40%;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    background-color: rgb(193, 236, 255);
    filter: drop-shadow(8px 8px 10px rgba(128, 128, 128, 0.203));
    border-radius: 10px;
    height: 60%;
    cursor: pointer;
    margin: 10px;
}

.item:hover {
    background-color: rgb(255, 255, 255);
}

img {
    height: 40px;
    width: 40px;
}

.payment {
    border-radius: 10px;
    width: 99%;
    height: 60px;
    margin-left: 5px;
    background-color: rgb(193, 236, 255);
    filter: drop-shadow(8px 8px 10px rgba(128, 128, 128, 0.203));
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment:hover {
    background-color: rgb(255, 255, 255);
}

.payment p {
    font-weight: 400;
    font-size: 35px;
}

.cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 65%;
}

.products {
    margin-top: 5px;
    width: 100%;
    height: 500px;
    min-width: 400px;
    background-color: rgba(217, 240, 249, 0.477);
    /* filter: drop-shadow(8px 8px 10px rgba(128, 128, 128, 0.285)); */
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(128, 128, 128, 0.183);
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

.price {
    width: 100%;
    height: 140px;
    background-color: rgb(217, 240, 249, 0.477);
    /* filter: drop-shadow(8px 8px 10px rgba(128, 128, 128, 0.285)); */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 5px 5px 0px 0px;
    padding: 0px 5px 0px 5px;
    box-shadow: 0 -2px 10px rgba(128, 128, 128, 0.183);
}

.tax {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
}

.other-details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.other-details p {
    margin-left: 25px;
}

.product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    box-shadow: -8px 8px 10px rgba(0, 0, 0, 0.05);
}

.product-indent {
    margin-left: 25px;
}

.delete-button  {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: red;
    font-weight: 500;
    margin-left: 15px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.hidden {
  display: none;
}

.popup-content {
  background: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.membership-button {
    margin: 5px;
    background-color: rgb(174, 194, 197);
    padding: 2px;
    border-radius: 5px;
    border: 1px solid grey;
    width: 10%;
    cursor: pointer;

}

#proceed {
    margin: 5px;
    background-color: rgb(174, 194, 197);
    padding: 2px;
    border-radius: 5px;
    border: 1px solid grey;
    width: 30%;
    cursor: pointer;
}


.failure {
    margin: 5px;
}

.payment-options {
  gap: 8px;
  margin: 15px 0;
}

.method {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #f9f9f9;
  cursor: pointer;
}

.popup-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

#confirm-payment {
  background: #28a745;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}

#cancel-payment {
  background: #dc3545;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}

.finish-process-button {
    margin: 5px;
    background-color: rgb(174, 194, 197);
    padding: 2px;
    border-radius: 5px;
    border: 1px solid grey;
    width: 20%;
    cursor: pointer;
}

.receipt {
    width: 30%;
    max-height: 600px;
    min-width: 300px;
    display: flex;
    justify-content: start;
    align-content: center;
    flex-direction: column;
}

.receipt h1 {
    margin-bottom: 20px;
}

.receipt-items {
    height: 90%;
    background-color: rgba(174, 194, 197, 0.543);
    border-radius: 10px;
    padding: 30px 10px 10px 10px;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
}

.date-receipt {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.receipt-items-details {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.solid {
    border: 1.5px solid;
}

.dotted {
    border: 1.5px dotted;
}

.receipt-items-placement {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

