* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

nav {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(86, 178, 214, 0.477);
    backdrop-filter: blur(); */
    /* From https://css.glass */
    background: rgba(134, 147, 163, 0.105);
    box-shadow: 0 4px 30px rgba(129, 129, 129, 0.379);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 0px 0px 5px 5px;
    
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 1%;
    gap: 15px;
}

a {
  text-decoration: none;
  position: relative;
  transition: all 0.5s;
  color: #000;
}

a:hover {
  color: black;
  text-shadow: 0 0 10px #1372e6, 0 0 20px #1372e6, 0 0 30px #1372e6, 0 0 40px #1372e6;
}
main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.sensor {
    padding: 10px 0px 0px 15px;
    height: 100%;
    width: 60%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
}

.fridge {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.fan {
    width: 40%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

hr {
    height:100%;
}

.data {
    height: 250px;
    width: 350px;
    background-color: rgba(86, 178, 214, 0.477);
    border-radius: 10px;
    margin: 5px;
    opacity: 0.5;
    filter: drop-shadow(15px 15px 10px rgba(128, 128, 128, 0.322));
}
.temp1, .temp2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hum1, .hum2 {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:center;
}


#chart-container-1, #chart-container-2,
#chart-container-3, #chart-container-4 {
  position: relative;
  height: 160px;
  width: 200px;
  opacity: 1;
}

.value {
    display: flex;
    flex-direction: column;
}

.modify-threshold {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

input {
    width: 45px;
    height: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

button {
    width: 60px;
    font-size: 12px;
    color: white;
    background-color: #1372e6;
    border-radius: 10px;
    border-color: transparent;
    padding: 1spx;
    cursor: pointer;
    transition: all 0.5s;
}

button:hover {
    background-color: #042e62;
}

.rotation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 350px;
}

#img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: fananim linear infinite;
}

@keyframes fananim {
  100% {
    transform: rotate(360deg);
  }
}

.client-main {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

.client-title {
    margin: 0px;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    background-color: white;
    padding: 20px;
    margin: 0px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

#fname, #lname, #phone, #email{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"] {
    width: 100%;
    height: 30px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="submit"]:active {
    background-color: #004494;
}









